body{
    font-family: "Nunito Sans";
    background-image: radial-gradient(farthest-side,rgb(255,255,255),rgb(48, 48, 48));
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;    
    display: flex;
    justify-content: center;
    main{
        color: rgb(0, 0,0);
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 95%;
        align-items: center;
        img{
            width:170px;
        }
        h2{
            font-size: 2em;
            text-align: center;
            margin: 0;
        }

        p{
            font-size: 1em;
            text-align: center;
            font-weight: 600;
        }
        button{
            color: rgb(255,255,255);
            background-color: rgb(226, 39, 38);
            font-size: 1.5em;
            transition: all 0.3s;
            padding: 0px 15px;
            border-radius: 99px;
            &:hover{                
                color: rgb(0, 0,0);
                background-color: rgb(255,255,255);
            }
        }
    }
    
}